footer{
    background-color: #030F3F;
    padding-block: 3rem;
    position: relative;
    height: fit-content;
}

section{
    width: 90%;
    margin-inline: auto;
    color: white;
}

.footer-details{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}

.footer-details > div{
    width: 40%;
}

.get-in-touch{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.get-in-touch > div{
    display: grid;
    gap: 1rem;
}

.get-in-touch p{
    width: 70%;
}

.info-div{
    display: grid;
    gap: 2rem;
}

.info-div > p{
    line-height: 2rem;
    font-weight: 300;
}

.info-div-p{
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
}

.info-div-p > p{
    font-weight: 700;
}

h3{
    font-size: 1.8rem;
    font-weight: 700;
}

.underline{
    background-color: #546FFF;
    height: .3rem;
    width: 4.5rem;
    border-radius: 1rem;
}

.underline2{
    width: 2.5rem;
}

form{
    display: flex;
    gap: .5rem;
    width: 70%;
}

button{
    background-color: #546FFF;
    color: white;
    border: transparent;
    padding-inline: 1rem;
    width: 30%;
}

button, input{
    padding-block: .7rem;
    border-radius: 6px;
}

input{
    width: 70%;
    border: none;
    padding-inline: 1rem;
}

.socials{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.last-section{
    display: flex;
    justify-content: space-between;
}

.links{
    /* gap: 3rem; */
    width: 40%;
}

.bgimg{
    position: absolute;
    inset: 0;
    height: 33rem;
    transform: translateX(-50%);
    left: 50%;
    right: 50%;
}