<footer>
    <img src="../../../assets/globe.svg" alt="globe" class="bgimg">
    <section>
        <aside class="footer-details">
            <div class="get-in-touch">
                <div >
                    <div>
                        <h3>GET IN TOUCH</h3>
                        <div class="underline"></div>
                    </div>
                    <p>Join our mailing list to stay up to date and get notices about our new releases!</p>
                    <form>
                        <input type="text" placeholder="info@oasismgt.net">
                        <button>SEND</button>
                    </form>
                </div>
                <div>
                    <div>
                        <h3>FOLLOW US</h3>
                        <div class="underline underline2"></div>
                    </div>
                    <div class="socials">
                        <img src="../../../assets/twitter.svg" alt="twitter">
                        <img src="../../../assets/linkedin.svg" alt="linkedin">
                        <img src="../../../assets/fb.svg" alt="facebook">
                        <img src="../../../assets/ig.svg" alt="ig">
                        <img src="../../../assets/google.svg" alt="google">
                        <img src="../../../assets/s.svg" alt="s">
                    </div>
                </div>
            </div>

            <div class="info-div">
                <div>
                    <img src="../../../assets/logo.svg" alt="oasismgt-logo">
                </div>
                <div class="info-div">
                    <p>Oasis Management Company (RC 63590) is the premier Management Consulting and Technology Services Company, focused on the continued convergence between Computing, Communications, Content and Commerce (4Cs)</p>
                    <div class="info-div-p">
                        <p>Phone Number: +234 701 3234 484 and +234 701 3234 480</p>
                        <p>Email: info&#64;oasismgt.net</p>
                        <p>Website: www.oasismgt.com.ng</p>
                    </div>
                </div>
            </div>

        </aside>
        <div class="last-section">
            <p>© 2017 OASIS MANAGEMENT COMPANY - ALL RIGHTS RESERVED</p>
            <div class="last-section links">
                <p>SITEMAP</p>
                <p>PRIVACY POLICY</p>
                <p>LEGAL  NOTICES</p>
                <p>REPOSITORY</p>
                <p>CONTACT</p>
            </div>
        </div>
    </section>
</footer>