section{
    background-color: #F5F5F5;
    height: 100%;
}
header{
    padding: 2rem;
    background-color: #ffffff;
}

main{
    padding: 2rem;
    display: grid;
    gap: 2rem;
}

input,textarea{
    width: 100%;
    padding: .7rem;
    border: none;
    margin-block: 1rem 0;
    border-radius: 6px;
}

.desc{
    margin-block: 2rem;
}

.err{
    color: #ff000070;
    font-size: 12px;
}

textarea{
    resize: none;
    height: 10rem;
}

button{
    width: 100%;
    padding-block: 1rem;
    color: #ffffff;
    background-color: #546FFF;
    border: transparent;
    border-radius: 10px;
    margin-top: 2rem;
    cursor: pointer;
}
button:disabled{
    background-color: #546FFF20;
    color: #6B6C7E;
}
.tags{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}
.tags > div{
    background-color: #DEDEDE;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    border-radius: 6px;
    padding: 1rem 2rem;
    cursor: pointer;
}


@media screen and (min-width: 1000px) {
    .desktop{
        display: none;
    }
}

@media screen and (min-width: 1200px) {

    main{
        width: min(100%,45rem);
    }
}