<header>
    <section class="header-section">
        <div class="container">
            <nav>
                <div>
                    <img src="../../../assets/logo.svg" alt="oasismgt-logo">
                </div>
                <div>
                    <a href="#">About</a>
                    <a href="#">Features</a>
                    <a href="#">Resources</a>
                </div>
                <button routerLink="/login">Get Started</button>
            </nav>
    
            <div class="header-text">
                <h2>Effectively Handle Your Projects</h2>
                <p>Prepare and follow work breakdown structure for effective planning, tracking and completing tasks</p>
                <button routerLink="/login">Get started</button>
            </div>
        </div>
    </section>
    <div class="container img-hero">
        <img src="../../../assets/hero.png" class="img-style img" alt="">
    </div>
</header>

<section class="relative">
    <h2 class="ultimate">The Ultimate Solution</h2>
    <div class="fixed-circle"></div>
    <section class="container flex-position ">
        <div class="rel-img">
            <img src="../../../assets/task.svg" class="img" alt="">
        </div>
        <aside class="ultimate-data">
            <div>
                <div class="flex-position">
                    <h3>Maximise Your Productivity</h3>
                    <div class="data-img">
                        <img src="../../../assets/one.svg" class="img" alt="">
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur. Et cursus sed in tincidunt curabitur justo egestas ultricies sed. Aliquam tellus nulla rutrum ultrices quis. A sed id purus tristique ultricies sit.</p>
            </div>
            <div>
                <div class="flex-position">
                    <h3>Monitor &Optimise Performance</h3>
                    <div class="data-img">
                        <img src="../../../assets/two.svg" class="img" alt="">
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur. Et cursus sed in tincidunt curabitur justo egestas ultricies sed. Aliquam tellus nulla rutrum ultrices quis. A sed id purus tristique ultricies sit.</p>
            </div>
            <div>
                <div class="flex-position">
                    <h3>Collaboration Made Easy</h3>
                    <div class="data-img">
                        <img src="../../../assets/two.svg" class="img" alt="">
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur. Et cursus sed in tincidunt curabitur justo egestas ultricies sed. Aliquam tellus nulla rutrum ultrices quis. A sed id purus tristique ultricies sit.</p>
            </div>
        </aside>
    </section>
</section>

<section class="third-section">
    <div class="container flex-position">
        <div class="powerful">
            <h3>Powerful Task Management Tool</h3>
            <p>Lorem ipsum dolor sit amet consectetur. Et cursus sed in tincidunt curabitur justo egestas ultricies sed. Aliquam tellus nulla rutrum ultrices quis. A sed id purus tristique ultricies sit.</p>
            <button routerLink="/login">Get started</button>
        </div>
        <div class="img-container">
            <img src="../../../assets/management.svg" alt="">
        </div>
    </div>
</section>

<section class="fourth-section">
    <div>
        <h3>What Our 5,000 + Customers Say</h3>
    </div>
    <div class="comment-section">
        <div class="cone">
            <img src="../../../assets/cone.svg" alt="cone" class="cone">
        </div>
            
        <div class="comment">
            <p>Lorem ipsum dolor sit amet consectetur. Et cursus sed in tincidunt curabitur justo egestas ultricies sed. Aliquam tellus nulla rutrum ultrices quis. </p>
            <div>
                <div class="user">
                    <img src="../../../assets/emery.png" alt="">
                </div>
                <p>Anita Olusegun</p>
            </div>
        </div>
    </div>
</section>

<section class="fifth-section">
    <h3>Anytime. Anywhere.</h3>
    <p>See everything the team is working on in one place</p>
    <button routerLink="/login">Get Started</button>
</section>

<app-footer></app-footer>